.containerButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button{
    width: 80px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    &:hover{
        background-color:white;
        color: black;
    }
}