.containerButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    width: 80px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    margin: 10px;
    &:hover{
        background-color:white;
        color: black;
    }
}