.containerAgregarProducto{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 15px;
    border-radius: 1.5em;
    .containerButtonTitle{
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-between;
        button{
            border: solid 1px black;
            background-color: white;
            color: black;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                border: solid 1px white;
                background-color: black;
                color: white;
                transition: ease .5s;
            }
        }
        
    }
}

#formulario{
    color: black;
    width: 100%;
    div{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    input{
        background-color: rgb(230, 249, 255);
        color: black;
        border: none;
    }
    .containerButtonCargar{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        button{
            padding: 15px;
            border-radius: 1em;
            border: none;
            color: white;
            background-color: black;
            &:hover{
                background-color:rgb(185, 185, 185);
                color: black;
                transition: ease .5s;
                border: solid 1px;
            }
        }
    }
}


