#root {
  margin: 0;
}

.app{
  display: flex;
  width: 100%;
}

.navBar{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgb(29, 29, 29);
  border-right: solid 1px white;
}

.containerHome{
  width: 100%;
}

.mainProductos{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .containerSearchAdd{
    width: 100%;
    display: inline-block;
    .containerSerch{
      display: flex;
      align-items: center;
      margin-left: 15px;
      input{
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        color: rgb(185, 185, 185);
        width: 200px;
        padding: 5px 5px;
      }
    }
  }
}

.mainClientes{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  .containerSearchAdd{
    width: 100%;
    display: inline-block;
    .containerSerch{
      display: flex;
      align-items: center;
      margin-left: 15px;
      input{
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
        color: rgb(185, 185, 185);
        width: 200px;
        padding: 5px 5px;
      }
    }
    .containerAdd{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.mainCajaDiaria{
  width: 100%;
  display: flex;
}


